@charset "UTF-8";
/* CSS Document */

/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
1.0 - Typography
	1.1 - Headings
	1.2 - Body Copy
	1.3 - Button
	1.4 - Lists
	1.5 - Table
	1.6 - Form
2.0 - Navigation Menus
	2.1 - Main
	2.2 - Sub
	2.3 - Footer
3.0 - Content
	3.1 - Site Structure
	3.2	- Site Header
	3.3	- Site Footer
4.0 - Media
5.0 - Utility
	5.1 - Text Transform
	5.2 - Colors
	5.3 - Alignments
6.0 - Responsive / Media Queries
----------------------------------------------------------------*/

* {
	-moz-box-sizing: border-box;
	-os-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-family: 'Quicksand', sans-serif;
	font-size: 15px;
}

/*--------------------------------------------------------------
1.0 TYPOGRAPHY:
----------------------------------------------------------------*/

/*----------1.1	- Headings----------*/

h1 {
	margin: 0 auto;
}

h2, h3, h4, #bg-img a {
	font-family: 'Arsenal', sans-serif;
	font-weight: 900;
}

h2, h3, h4 {
	color: #ee806c;
}

h2, h3, nav {
	text-transform: uppercase;
}

h2 {
	font-size: 2.25rem;
	text-align: center;
}

h3 {
	font-size: 1.25rem;
}

/*----------1.2 - Body Copy----------*/

/*----------1.3 - Button----------*/

#bg-img section a{
	display: inline-block;
	text-transform: uppercase;
	border-radius: 10px;
	text-decoration: none;
	padding: 15px 20px;
	background-color: #ee806c;
	color: #123644;
}

#bg-img section a:hover {
	background-color: #ceb8a2;
	color: #ee806c;
}

/*----------1.4 - Lists----------*/

/*----------1.5 - Table----------*/

/*----------1.6 - Form----------*/

/*--------------------------------------------------------------
2.0 - NAVIGATION MENUS
-------------------------------------------------------------- */

/*----------2.1 - Main----------*/

nav a {
	font-family: 'Arsenal', sans-serif;
	text-decoration: none;
	color: #123644;
}

nav a:hover {
	color: #ee806c;
}

nav li{
	display: inline-block;
	padding: 45px 0 0 30px;
}

nav {
	text-align: right;
}
/*----------2.2 - Sub----------*/

/*----------2.3 - Footer----------*/

/*--------------------------------------------------------------
3.0 - CONTENT
-------------------------------------------------------------- */

/*----------3.1 - Site Structure----------*/

.wrapper {
	width: 65%;
	margin: 0 auto;
}

.row:after {
	content: "";
	display: table;
	clear: both;
}

[class*='col-'] {
	float: left;
	padding: 0 10px 20px;
}

[class*='col-sm-'] {
	float: none;
	padding: 0;
}

.col-1-2 {
	width: 50%;
}

.col-1-3 {
	width: 33.33%;

}

.col-2-3 {
	width: 66.66%;
}

.col-1-4 {
	width: 25%;

}

.col-2-4 {
	width: 50%;
}

.col-3-4 {
	width: 75%;
}

.col-1-5  {
	width: 20%;
}

.col-2-5 {
	width: 40%;
}

.col-3-5 {
	width: 60%;
}

.col-1-6 {
	width: 16.66%;
}

.col-3-6 {
	width: 49.98%;
}

.col-1-7 {
	width: 14.28%;
}

.col-4-7 {
	width: 57.12%;
}

.col-3-7 {
	width: 42.84%;
}

.col-1-8 {
	width: 12.5%;
}

.col-6-8 {
	width: 75%;
}

.col-2-8 {
	width: 25%;
}

.col-1-9 {
	width: 11.11%;
}

.col-5-9 {
	width: 55.55%;
}

.col-4-9 {
	width: 44.44%;
	float: right;
}

.col-1-10 {
	width: 10%;
}
.col-7-10 {
	width: 70%;
}

.col-3-10 {
	width: 30%;
}

.col-1-11 {
	width: 9.09%;
}

.col-4-11 {
	width: 36.36%;
}

.col-7-11 {
	width: 63.63%;
}

.col-1-12 {
	width: 8.33%;
}
.col-3-12 {
	width: 24.99%;
}

.col-9-12 {
	width: 74.97%;
}
header .col-2-3 {
	float: right;
}

/*----------3.2	- Site Header----------*/

h1 {
	padding-top: 30px;
}

/*----------3.3	- Site Footer----------*/

/*--------------------------------------------------------------
4.0 - MEDIA
-------------------------------------------------------------- */

figure {
    -webkit-margin-before: 0;
    -webkit-margin-after: 0;
    -webkit-margin-start: 0;
    -webkit-margin-end: 0;
}

img {
	max-width: 100%;
}

#bg-img {
	background-image: url(../img/bg-img.jpg);
	background-repeat: no-repeat;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-ms-background-size: cover;
	background-size: cover;
	padding-bottom: 30px;
	opacity: .75;
	background-position: center 0;
}

footer {
	padding-top: 30px;
}

/*--------------------------------------------------------------
5.0 - UTILITY
-------------------------------------------------------------- */

/*----------5.1 - Text Transform----------*/

/*----------5.2 - Colors----------*/

.bg-blue {
	background-color: #123644;
	padding: 30px 0;
	color: #ceb8a2;
}

.bg-tan {
	background-color: #ceb8a2;
	opacity: .80;
}


/*----------5.3 - Alignments----------*/

.center-block {
	float: none;
	margin: 0 auto;
}

.text-align, #we-design {
	text-align: center;
}



.inline-block {
	display: inline-block;
}


/*--------------------------------------------------------------
6.0 - RESPONSIVE / MEDIA QUERIES
-------------------------------------------------------------- */

*, *:after, *:before {
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/*----------6.2 - Small Display----------*/

@media screen and (max-width: 480px) {
	.wrapper {
		width: 95%;
	}
	
	[class*='col-sm-'] {
	float: left;
	padding: 0 10px 20px;
}
	
	.col-sm-1-3 {
		width: 33.33%;
	}
	
	.col-sm-2-3 {
		width: 66.66%;
	}
	
	.col-1-2, .col-1-3, .col-1-4, .col-3-4, .col-sm-2-4 {
		width: 100%;
	}
	
	.col-sm-1-4 {
		width: 50%;
	}
	
	footer .col-1-3 {
		width: 50%;
	}
	
	footer .col-1-3:last-child {
		width: 100%;
	}
	
	nav {
		text-align: center;
	}
	
	nav li {
		padding: 45px 30px 0 0;
	}
	
	#work img{
		height: 200px;
		width: 300px;
	}
}